h1{
    font-size: 50px;
    background-size: auto;
    background-color: darkslategrey;
    text-align: left;
    margin-top: 50px;
    color: aliceblue;
    font-style: normal;
}
body{
    background-color: bisque;
}
div.red{
    background-color: antiquewhite;
    h3{
        align-items: center;
        font-size: medium;
        color:rgb(178, 74, 74);
        margin: 6%;
padding: 8%;
    }
    p{
        align-items: first baseline;
        color: rgb(1, 7, 12);
        margin: 10%;
        pad: 10%;

    }
    ul{
        align-items: center;
        font-size: medium;
        background-color: darkslategrey;
        color: aliceblue;
        align-items: center;
    }
}
div.blue{
    h6{
        text-align: center;
        align-items: center;
        font-size: small;
        background-color: darkslategrey;
        color: aliceblue;

    }
}
